:root {
    font-family: Helvetica;
    font-size: 14px;
}

* {
    font: inherit;
}

h1 {
    background-size: 200px;
    background-color: lightgrey;
    text-align: left;
    color: blue;
    padding: 2%
  }

#meme-canvas {
    width: 300px;
}


#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
  }
  
  #mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
  }